input{
    height:30px;
    width:50%;
   margin-top: 20px;;
   margin-bottom: 20px;
   background-color: rgba(252, 251, 245, 0.938);
   margin-left: 24%;
   border-radius: 10px;
   box-shadow: 5px 5px 5px rgb(184, 175, 161);
}
h3{
    text-align: center;
    padding: 10px;
}
button{
    background-color: rgba(252, 251, 245, 0.938);
    border-radius: 10px;
    height: 40px;
    box-shadow: 5px 5px 5px rgb(184, 175, 161);
    background-color: coral;
    margin: 10px;
    width: 100px;

}